/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

nav {
    background-color: #3b48bb;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  nav a:hover {
    text-decoration-line: underline;
    color: #b7d8ff;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    color: white;
    /* margin: 20px; */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }

  #main {
    height: 100%;
    background-image: url("https://www.libertytravel.com/sites/default/files/styles/full_size/public/luxury-hero%20%281%29.jpg?itok=NS-iKHU-");
    background-color: rgba(38, 48, 61, 0.521);
  }

  #socials {
    float: left;
    align-items: center;
    vertical-align: text-bottom;
    height: 100%;
  }
  
  #home{
    height: 100%;
  }

  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
    border-radius: 12px;
    border-style: none;
  }
  
  button {
    padding: 7px 15px;
    background-color: #37336e;
    border-radius: 25px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1e1836;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }